* {
  background-color: black;
  color: #03a062;
}

h1,
h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.btn {
  border-radius: 4px;
  font-weight: 400;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  line-height: 1.42857143;
  margin: auto;
}

.canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.side-bar {
  width: 25%;
  height: 600px;
  position: absolute;
}

p {
  line-height: 2.5;
  font-weight: bolder;
  font-size: larger;
}

.circle {
  position: sticky;
  background-color: purple;
  border-radius: 50%;
}

.square {
  position: sticky;
  background-color: red;
}

.triangle {
  position: sticky;
  height: 0;
  width: 0;
}

.rectangle {
  position: sticky;
  background-color: green;
}
